{% extends 'blog/base.html' %} {% block content %}

<h1 class="posttitle loader">{{post.title}}</h1>

{% if post.published_date %}
<div class="date postdate">
  Published in {{post.published_date}} by
  <div class="inline fw-bolder">{{post.author}}</div>
</div>
{% elif post.author == user %}
<a
  class="btn btn-info text-center"
  href="{% url 'blog:post_publish' pk=post.pk %}"
  >Publish</a
>
{% endif %}
<br />
{% if post.author == user or post.published_date %}
<p class="text-break postcontent">
  {% autoescape off %}
    {{ post.text |safe }}
  {% endautoescape %}
</p>
{% else %}
<p class="postcontent fst-italic">Post not yet published by author</p>

{% endif %} {% if user.is_authenticated and post.author == user %}
<a class="btn btn-primary" href="{% url 'blog:post_edit' pk=post.pk %}">Edit</a>
<a class="btn btn-danger" href="{% url 'blog:post_remove' pk=post.pk %}"
  >Remove</a
>
{% endif %}

<hr />
<a
  class="btn btn-primary btn-comment"
  href="{% url 'blog:add_comment_to_post' pk=post.pk %}"
  >Add Comment</a
>

<div class="container">
  <br />
  <ul class="list-group">
    {% for comment in post.comments.all %}
    <li class="list-group-item">
      {% if user.is_authenticated or comment.approved_comment %}
        {{comment.create_date}} 
        {% if not comment.approved_comment and post.author == user %}
          <a
            class="btn btn-danger"
            href="{% url 'blog:comment_remove' pk=comment.pk %}"
            >Remove</a
          >
          <a
            class="btn btn-success"
            href="{% url 'blog:comment_approve' pk=comment.pk %}"
            >Approve</a
          >
        {% endif %} 
        {% if comment.approved_comment or post.author == user %}
          <p class="fst-italic">{{comment.text|safe|linebreaks}}</p>
        {% else %}
          <p class="fst-italic">Comment not yet approved by post author.</p>
        {% endif %}
        <div class="inline">
          Posted by
          <div class="inline fw-bolder">{{comment.author}}</div>
        </div>
      {% endif %}
    </li>
    {% empty %}
    <p class="fw-bold">No Comments!</p>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
