{% extends 'blog/base.html' %} {% block content %}
<div class="centerstage">
  <ul class="list-group">
    {% for post in post_list %}
    <a
      class="list-group-item list-group-item-action"
      href="{% url 'blog:post_detail' pk=post.pk %}"
    >
      <h1>{{ post.title }}</h1>
      <div class="date">
        <div>
          Published at {{post.published_date|date:"D M Y H:m"}} by
          <div style="display: inline" class="fw-bolder">{{post.author}}</div>
        </div>
        <div>Comments: {{post.approved_comments.count}}</div>
      </div>
    </a>
    {% empty %}
    <div class="h-100 p-5 bg-light border rounded-3">
      <h1>There aren't any posts!</h1>
    </div>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
